# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Package lock
package-lock.json

# Tests Coverage
coverage

# Built ts files
dist/**/*
